/*-----    選擇區底色    -----*/
.choose_bgc {
    width: 100%;
    background-color: #ecece8;
    overflow: hidden;
    margin-top: 50px;
}

.choose_bgc:after {
    content: '';
    background: #ffffff;
    width: 100%;
    height: 6.78%;
    position: absolute;
    bottom: 0;
}

/*-----    選擇區範圍限制    -----*/
.choose {
    width: 75vw;
    margin: 0 auto;
}

/*-----    選擇區資訊    -----*/
.choose_info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose_info ul{
    margin: 30px 0;
}

.choose_info h2 {
    font-size: 3.24rem;
    padding-bottom: 10px;
    color: #c2a883;
}

.choose_info h2:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #c2a883;
    display: block;
}

.choose_info li {
    color: #4d5258;
    margin: 10px 0;
    letter-spacing: 1px;
}

.choose_info li a {
    display: block;
    text-decoration: none;
    padding: 8px 30px;
    width: 200px;
    margin: 30px 0;
    text-align: center;
    color: #c2a883;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #c2a883;
    transition: 0.5s;
}

.choose_info li a:hover {
    background: #c2a883;
    color: #ffffff;
}

.choose figure {
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 1s;
    margin: 0;
}

.choose figure img {
    width: 100%;
    height: 100%;
}

.picmove {
    transform: translate(150%);
}
.ophide, .ophide-2, .ophide-3{
    opacity: 0;
}

.choose-text {
    width: 100px;
    position: absolute;
    z-index: 2;
}
.choose-text-1{
    top: 39%;
    left: 10%;
    width: 120px;
    transition: 0.5s;
}
.choose-text-1:hover{
    transform: scale(1.2);
}
.choose-text-2{
    top: 28%;
    left: 42%;
    transition: 0.5s;
}
.choose-text-2:hover{
    transform: scale(1.3);
}
.choose-text-3{
    top: 45%;
    left: 76%;
    transition: 0.5s;
}
.choose-text-3:hover{
    transform: scale(1.25);
}
/*-----    選擇區RWD    -----*/
@media screen and (max-width: 1200px){
    .choose_info h2{
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 1089px){
    .choose_bgc {
        background-color: #ecece8;
    }
    .choose{
        flex-direction: column;
        width: 100vw;
    }
    .choose_info{
        z-index: 3;
    }
    .choose_info, .choose-rwd{
        width: 100%;
    }
    .choose-rwd{
        height: 53vw;
    }
    .choose figure img{
        object-fit: cover;
        object-position: bottom;
    }
    .choose-text-1{
        top: 4%;
        left: 22%;
        width: 15%;
    }
    .choose-text-2{
        top: -15%;
        left: 58%;
        width: 14%;
    }
    .choose-text-3{
        top: 6%;
        left: 76%;
        width: 14%;
    }
    .choose_info li a {
        margin: 30px auto;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 5px;
    }
    .choose_info ul{
        width: 75vw;
        margin: 30px 15px;
        text-align: center;
    }
}
@media screen and (max-width: 830px){
    .choose_bgc {
        margin-bottom: -100px;
    }
    .choose_info h2 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 520px){

    .choose_info li {
        letter-spacing: 0;
    }
    .choose_info h2 {
        font-size: 1.5rem;
        text-align: center;
    }

}
@media screen and (max-width: 375px){
    .choose_info li a {
        padding: 10px 50px;
        font-size: 1rem;

    }
    .choose_info li{
        text-align: left;
        line-height: 1.7;
    }


}