/* ----------------------------------brands*/
.brands {
    width: 75vw;
    margin: 0 auto;
}

.brands_t {
    text-align: center;
    border-bottom: #c2a883 solid 1px;
    color: #c2a883;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-bottom: 10px;
}
.brands_left{
    height: 100%;
}
.brands_left>ul{
    /*min-height: 600px;*/
    flex-direction: column;
    margin: 0 auto;
    /*justify-content: space-between;*/
    /*align-items: stretch;*/
    /*align-items: ;*/
}

.brands_left li {
    text-align: center;
    cursor: pointer;
    margin: 25px 0;
}

.brands_left li img {
    height: 50px;
}
.brands_hoverline{
    width: 0;
    height: 2px;
    background: #c2a883;
    transition: 0.5s;
    left: 50%;
}
.brands_left li:hover .brands_hoverline{
    width: 100%;
    left: 0;
}
.brandsBox{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1100px){
    .brands_left li img {
        height: auto;
        width: 80% ;
    }
}

@media (min-width:769px) and (max-width:1024px){
    
    .brands_left li {
        line-height: 5.35vw;
    }
}

 @media screen and (max-width:830px){
     .brands{
         display: none;
     }
 }


