
    /* ----------------------------------compare */
.compare {
    width: 100%;
    height: 90vh;
    /* background: url("../images/luggage_compare_01.png") center center no-repeat; */
    background-size: cover;
    padding-top: 60px;
    margin-top: 120px;
}

.compare_b {
    width: 75vw;
    margin: 60px auto;
}

.compare_t {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: #c2a883 solid 1px;
    color: #c2a883;
    margin: 100px 0 60px 0;
    font-size: 3.2rem;

}

.pic{
    color: #4d5258;
}

.left_pic {
    width: 50vw;
    height: 500px;
    padding: 50px 0 0 25px;
    line-height: 50px;
}

.right_pic {
    width: 50vw;
    height: 500px;
    padding: 50px 25px 0 0;
    /* border-left: #141E30 dashed 1px; */
    line-height: 50px;
}

.right_pic p {
    flex-direction: row-reverse;
    text-align: right;
}
/* ----------------------------------compare_button*/
.button {
    width: 250px;
    height: 40px;
    text-align: center;
    margin: 45px auto;
    line-height: 36px;
    border: 2px solid #c2a883;
    color: #c2a883;

}

.button:active {
    background: #c2a883;
    color: #fff;
}

.button p {
    user-select: none;
    color: #c2a883; 
    margin: 0;
}

/* ------------------------------------RWD_mobile */
.compare_add{
    width: 75vw;
    font-size: 2rem;
    color: #c2a883;
    margin: 0 auto;
    border-bottom: #c2a883 solid 1px;
    padding-bottom: 8px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.mobile_p{
    width: 75vw;
    margin: 20PX auto;
    color: #4d5258;
   
}

.mobile_p p::before{
 display: inline-block;
    vertical-align:middle;
}

@media screen and (min-width:830px){
    .mobile_p{
        display: none;
    }
    .compare_add{
        display: none;
    }
}

@media screen and (max-width:830px){
    .compare{
        margin-top: 0;
        height: 30vh;
    }

    .compare_b, .pic{
        display: none;
    }    
}

@media screen and (max-width:520px){
    .compare_add{
        font-size: 1.5rem;
        padding-bottom: 0;
    }
}

@media screen and (max-width:375px){
    .mobile_p{
        font-size: 1rem;
        line-height: 35px;
    }

    .button{
        height:60px;
        line-height: 54px;
    }
}