
/* ----------------------------------contain_body */

/* ----------------------------------animatable : fadeInDown淡出*/
        .animatable {
  
            /* initially hide animatable objects */
            visibility: hidden;
            
            /* initially pause animatable objects their animations */
            -webkit-animation-play-state: paused;   
            -moz-animation-play-state: paused;     
            -ms-animation-play-state: paused;
            -o-animation-play-state: paused;   
            animation-play-state: paused; 
          }
    
          /*Apple Safari*/
          @-webkit-keyframes fadeInDown { 
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        /*Firefox*/
        @-moz-keyframes fadeInDown { 
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        /*Opera*/
        @-o-keyframes fadeInDown { 
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        
        /* @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            60% {
                opacity: 0;
            }
            20% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            } */


            /* @keyframes ：使XXX元素匀速淡出 */
            /*fadeInDown JQ命令*/
        @keyframes fadeInDown { 
                0% {
                    opacity: 0;
                    transform: translateY(-20px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
        }
    
        .animated {
            visibility: visible;
            
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            animation-fill-mode: both;
            /* 动画持续状态 */

            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            -ms-animation-duration: 1s;
            -o-animation-duration: 1s;
            animation-duration: 1s;
            /* 动画时间 */
          
            -webkit-animation-play-state: running;
            -moz-animation-play-state: running;
            -ms-animation-play-state: running;
            -o-animation-play-state: running;
            animation-play-state: running;
            /* 	规定动画正在播放*/
          }
          
/* ----------------------------------animatable end */



.contain_body {
   
}

.contain_body li {
    width: 23.8%;
    /* height: 50vh; */
    background: #fff;
    margin: 5px 5px 70px 5px;
    text-align: center;
    /*border: 1px solid #4d5258;*/
}

.contain_body img {
    width: 100%;
}

.contain_body h6 {
    font-size: 1.6rem;
    font-weight: 600;
}

.contain_body p {
    /*margin-top: 16px;*/
    font-size: 1.2rem;
    color: #666e74;
}

.contain_body .ul-color {
    justify-content: center;
}

.contain_body .li-color {
    width: 12px;
    height: 12px;
    background-color: #c2a883;
    border-radius: 50%;
    margin: 0 5px;
    display: none;
}

/* 暂时不适用 */
/* .contain_body .li-color:hover {
    border: 2px solid #243B55;
} */



/*---商品點擊區塊---*/
.list_ani{
    /* background-color: rgba(36, 59, 85, 0.4); */
    /*background: linear-gradient(to bottom, rgba(36, 59, 85, 0.2), rgba(36, 59, 85, 0.6)); !* 0219 *!*/
    /*background: #ffffffd1;*/
    background: linear-gradient(#ffffff,#ffffffd1);
    transition: 0.7s;
    opacity: 0;  /* 0219暫時關掉 */
    z-index: 3;
    margin: 0px 1.5vw 0 1.5vw;
    /*border-radius: 10%; !* 0219 *!*/
}

.list_ani:hover{
    opacity: 1;
}

.list_ani .list_ani_ul{
    width: 18.2vw;
    height: 23vw;
    padding: 16%;
}

.list_ani .list_ani_search{
    justify-content: center;

}

.list_ani li{
    width: 12vw;
    background: transparent;
    padding: 40% 0 40% 0;
    /*border: 1px solid #fff;*/
    /*margin: 28% auto; !* 0219 *!*/
    margin:0;
    justify-content: center;
    transition: 0.1s;
    /*opacity: 0.8;  !* 0219 *! */

}

.list_ani li:active{
    transform: scale(0.9);
}

.list_ani p{
    /*font-size: 1.3rem;*/
    margin: 0 6px 0 0 ;
    color: #49708e;

}

.list_ani img{
    width: 16px;
    height: 16px;
    transition: 0.5s;
}

.list_ani img:hover{
   transform: scale(1.5);
}

.contain_body ul{
    margin: 0 auto;
    width: 85vw;
    flex-wrap: wrap;
    /* justify-content: center; */
}
/*-------------- wawa修改商品資訊新的css start-------------*/
.list_ani .list_dt_brand{
    font-size: 1.4rem;
    font-weight: 500;
}
.list_ani .list_dt_brand:after{
    content: '';
    width: 70%;
    height: 1px;
    background: #49708e;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20%);
}
.list_ani .list_dt_price{
    font-size: 1.3rem;
    padding: 5px 0;
}
.list_ani .list_dt_price span{
    font-size: 1.8rem;
    line-height: 1;
}
.list_ani .list_dt_size span{
    font-size: 1.4rem;
    line-height: 1;
}
.list_ani .list_dt_color,.list_ani .list_dt_size{
    font-size: 1rem;
    color: #97a2ab;
    /*background: #1e547d66;*/
    /*background: linear-gradient(to right,#ffffff00,#bbc6cc4a,#ffffff00);*/
    padding: 2px 0;
    width: 50%;
    margin: 3px auto 3px auto;
    transform: translate(-2px);
    border: 1px solid #97a2ab;
    border-radius: 3px;
    /* display: none; */
}

.list_ani .list_dt_color{
    display: none;
}

/*-------------- wawa修改商品資訊新的css end-------------*/
/*---nav---*/
.nav_wi{
    width: 75vw;
    margin: 0 auto;
}

.page-ul-wi{
    justify-content: center;
}

.page-item-wi{
    margin: 0 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.page-item-wi:hover{
    border-bottom: 2px solid #d8d8d8;
}


.page-item-wi a{
    color:#243B55;
}

.page_active {
    border-bottom: 2px solid #243B55;
}

/* .page_left{
    margin-right: 40px;
} */

/* .page_right{
    margin-left: 40px;
} */

.contain_body .price{
    display: none;
}

.contain_body .buy{
    display: none;
}

.contain_body .buy img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
}

.contain_body .buy_border{
    display: none;
    margin: 10px 20px 10px 20px;
    border-bottom: #c2a883 dashed 1px;
}


/* ------------------------------------------------RWD */
/* 封面图片 */
/*1024px:IPAD PRO 轉 768px:IPAD*/
@media (min-width:768px) and (max-width:1024px){

    .contain_body li{
        width: 19.9vw;
        
    }
    

     /* 商品點擊區塊 */
     .list_ani{
         margin: 0;
     }

    .list_ani .list_ani_ul {
        padding: 0;
        height: 24.2vw;
        width: 20.2vw;
    }

    .list_ani li {
        /* width: 27%; */
        /* margin: 6% auto; */
    }

    /* .list_ani .list_ani_hover{

        justify-content: center;
        align-items: center;
    }
    
    .list_ani_ul>a{
        display: block;
        justify-content: center;
        align-items: center;
    } */
    /* .list_ani p{
        font-size: 0.75rem;  
        display: none;  
    } */
}

/*767px:IPAD 轉 520px:MOBILE*/
@media (min-width:520px) and (max-width:767px){
    .contain_body li{
        width: 22.7%;
        margin: 5px 5px 30px 5px;
    }


     /* 商品點擊區塊 */
     .list_ani{
        margin: 0;
    }

    .list_ani .list_ani_ul {
        padding: 7%;
        height: 21.2vw;
    }

    .list_ani li {
        width: 27%;
        height: 27%;
        margin: 6% auto;
    }
    
    .list_ani p{
        font-size: 0.75rem;  
        /* display: none;   */
    }

    .list_ani .list_ani_hover{
        width: 100%;
        height: 100%;
        /* padding: 10% 0 20% 0; */
        justify-content: center;
        align-items: center;
    }

    .list_dt_brand{
        display: none;
    }

    .contain_body p {
        font-size: 0.5rem;
    }

    .list_ani .list_dt_color{
        font-size: 0.75rem;
    }

}
@media screen and (max-width:519px){
    .contain_body{
        margin-top: 60px;
    }
    .contain_body ul {
        width: 90vw;
    }

    .contain_body .ul-color {
        display: none;
    }

    .contain_body p {

        font-size: 1rem;

    }

    .contain_body .fc-red{
        color:#bc5f5f;
    }

    .contain_body h6 {
        font-size: 1.15rem;
        margin: 10px;
        text-align: center;
    }

    .contain_body li {
        width: 42.3vw;
        margin-bottom:0;
        margin-top:20px;
    }

    .contain_body .buy{
        display: block;
    }

    .contain_body .price{
        display: block;
    }

    .contain_body .buy_border{
        display: block;
    }
    .nav_wi{
        margin-top: 20px;
    }

    /* 商品點擊區塊 */
    .list_ani{
        display: none;
    }  


    .page-item-wi{
        display: none;
    }

    .page_left{
        width: 10vw;
        height: 10vw;
        background-color: #637b92;
        border:#243b55 5px solid;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
        transition: .5s;
    }

    .page_left:hover{
        background-color: #243b55;
        transform: scale(0.8);
    }

    .page_right{
        width: 10vw;
        height: 10vw;
        background-color: #637b92;
        border:#243b55 5px solid;
        border-radius: 10px;
        text-align: center;
        margin-left: 10px;
        cursor: pointer;
        transition: .5s;
    }

    .page_right:hover{
        background-color: #243b55;
        transform: scale(0.8);
    } 

    /* .page_left,.page_right .fas:hover{
        color: #243b55;
    } */

    .fas{
        color: #fff;
        font-size: 8vw;
    }

    /* .list_ani .list_ani_ul {
        width: 42.3vw;
        height: 38.3vw;
    }

    .list_ani .list_ani_ul {
        padding: 7%;
    }

    .list_ani li {
        width: 27%;
        height: 27%;
        margin: 4% auto;
    }
    
    .list_ani p{
        font-size: 0.75rem;  
        display: none;  
    } */
}
