/* ----------------------------------contain */
.contain{
    width: 100%;
    height: 30vh;
    /* background:url("../img/page_banner_02.jpg") no-repeat; */
    background-size: cover;
}


/* ------------------------------------------------RWD */
/* 封面图片 */
/*1024px:IPAD PRO 轉 768px:IPAD*/
@media (min-width:768px) and (max-width:1024px){
    .contain{
        height: 30vh;
    }
}
 
/*767px:IPAD 轉 520px:MOBILE*/
@media (min-width:520px) and (max-width:767px){
    .contain{
        display: none;
    }
}

@media screen and (max-width:519px){
    .contain{
        display: none;
    }
}



