/* ----------------------------------header */

/* -----------------------------------白色-- */


.home {
    width: 100%;
    height: 110vh;
    background: url("../img/bg_1.jpg") center center no-repeat;
    background-size: cover;
    align-items: center;
    /*opacity: 1; !*测试使用可删除*!*/
    z-index: 2;
    transition: 1s;
}

.home_wrap {
    height: 110vh;
    transition: 1s;
}

.home .arrow {
    color: #c2a883;
    text-align: center;
    padding-top: 80px;
}

.home .logo {
    width: 50vw;
}

.home figure {
    text-align: center;
}

.home img {
    width: 30vw;

}



/* -----------------------------------黑色-- */
.fixtop{
    position: fixed;
    top:0;
}

.home_2_wrap{
    width: 100%;
    height: 110vh;
    position: absolute; 
    top: 0;
    /* padding-top: 100px; */
    /* background-color: #0e0c0d; */
    transition: 1s;
    opacity: 0;
}

.home_2 {
    /* position: absolute; */
    width: 100%;
    height: 110vh;
    background: url("../img/bg_3.jpg") center center no-repeat;
    background-size: cover;
    align-items: center;
    top: 0;
    left: 0;
    /*opacity: 0; !* 爛爛初版時加上的 *!*/
    transition: 1s;

}



.home_2 .logo {
    width: 50vw;
}

.home_2 figure {
    text-align: center;
}

.home_2 img {
    width: 30vw;

}


/* buutin_a */
.home_2 .button_a {
    margin-left: 250px;
}

.home_2 .button_a .b_1 {
    width: 200px;
    height: 40px;
    text-align: center;
    color: #fff;
    margin: 45px 0 45px 10px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
}

.home_2 .button_a .b_1:hover {
    border: 2px solid #c2a883;
    background: #c2a883;
    color: #fff;
}

.home_2 .button_a .b_2 {
    width: 200px;
    height: 40px;
    text-align: center;
    color: #c2a883;
    margin: 45px 0 45px 10px;
    border: 2px solid #c2a883;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    transition: 0.5s;
}

.go-to-list{
    color: #c2a883;
}
.home_2 .button_a .b_2:hover .go-to-list{
    color: #ffffff;
}

.home_2 .button_a .b_2:hover {
    background: #c2a883;
    color: #fff;
}
.go-to-list{
    color: #c2a883;
}
.home_2 .button_a .b_2:hover .go-to-list{
    color: #ffffff;
}

header .b_3{
    width: 100%;
    height: 45px;
    background: #d8d8d8;
    color: #fff;
    border: #d8d8d8;
    display: none;
}

header .b_3:active{
    background: #84909c;

}

header .b_3 p{
    margin: 0 ;
}

.visible {
    opacity: 1;
    /* 加上後變成物件有往前的感覺 -2*/
    /*transform: translate(0, 0);*/
}

.ophide{
    opacity: 0;
}

/* ------------------------------------------------RWD */
/*1024px:IPAD PRO 轉 768px:IPAD*/
@media (min-width:768px) and (max-width:1024px) {
    .home{
        background: url(../img/bg_1.jpg) center center no-repeat;
        background-size: cover;
    }

    .home_2{
        background: url(../img/bg_3.jpg) center center no-repeat;
        background-size: cover;

    }

    .home .logo {
        width: 100vw;
    }

    .home_2 .logo {
        width: 100vw;
    }

    .home_2 .button_a {
        margin-left: 0;
        text-align: center;
    }
}

/*767px:IPAD 轉 520px:MOBILE*/
@media screen and (max-width:767px) { 
    .home_wrap {
        display: none;
        height: 85vh;
    }
    .home_2_wrap{
        opacity: 1;
        position: relative;
        padding-top: 0;
    }

    .home_2 {
        background: url("../img/bg_4.jpg") center center no-repeat;
        background-size: cover;
        align-items: flex-start;
        position: relative;
    }

    .home_2 .logo {
        margin: 130px auto;
        width: 100vw;
    }
/* 
    .home_2 figure {
        margin: 100px 40px;
    } */

    .home_2 button {
        display: none;
    }

    header img{
        min-width: 237.5px;
    }

    header .b_3{
        display:block;
    }



}