
@import url('https://fonts.googleapis.com/css?family=Marko+One|Mukta+Malar:200,300,400,500,600,700,800|Noto+Sans+TC:100,300,400,500,700,900|Merriweather:300,400,700,900|Noto+Serif+TC:200,300,400,500,600,700,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Marko One', serif;         /* 大标题英文 */
    font-family: 'Mukta Malar', sans-serif;  /* 产品英文 */
    font-family: 'Merriweather', serif;      /* 大幅標題 */
    font-family: 'Noto Sans TC', sans-serif; /* 中文 */
    box-sizing: border-box;
    color: #243B55;

}
文字顏色提示{
    color: #4d5258; /* 內文字體顏色 */
    color: #c2a883; /* 金色 */
    color: #be1b1b; /* 表格錯誤提示 */
    color: #243B55;/* 色塊背景色-深藍 */
}

/* ----------------------------------样式 */
.ff-noto-wi {
    font-family: 'Noto Sans TC', sans-serif;/* 中文 */
}

.ff-marko-wi {
    font-family: 'Marko One', serif;/* 大标题英文 */
}

.ff-mukta-wi {
    font-family: 'Mukta Malar', sans-serif;/* 产品英文 */
}

.ff-merri-wi{
    font-family: 'Merriweather', serif;/* 大幅標題 */
}

.p_12px_wil{
    font-size: 0.75rem;/*最小12px */
}

.p_16px_wii{
    font-size: 1rem;/* 一般16px */
}

.p_50px_wii{
    font-size: 3.2rem;/* 大标题50px */
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

p{
    margin-bottom: 16px;
}

h6{
    margin: 8px;
    font-size: 1rem;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

