
    /* ----------------------------------bread */


.bread{
    width: 75vw;
    margin: 50px auto;
    align-items: center;
}

.bread h6{
    margin: 0 ;
}
.bread .bread_delete{
    background-color: #e0e4e8d6;
    padding: 5px 8px;
    margin-left: 10px;
    user-select: none;
    transition: 0.5s;
}
.brand_more{
    width: 50vw;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 10px;
    }
.brand_more li{
    display: flex;
    align-items: center;
    margin: 3px 0 3px 10px;
    user-select: none;
    color: #c3cbd2;
}

.bread_delete:hover, .bread_delete:active{
    background: #243B55;
    color: #fff;
}

.bread p{
    margin: 0;

}

/* ------------------------------------------------RWD */
/* 封面图片 */
/*1024px:IPAD PRO 轉 768px:IPAD*/
@media (min-width:768px) and (max-width:1120px){
   .bread{
        /*justify-content: center;*/
        /*width: 85vw;*/
    } 

    .bread h6{
        /*display: none;*/
    }

    .bread ul p{
        /*font-size: 0.75rem;*/
    }

    .bread li{
        /*margin: 0 2px 0 2px;*/
    }
}

/*767px:IPAD 轉 520px:MOBILE*/
@media (min-width:520px) and (max-width:767px){
    .bread{
        justify-content: center;
        width: 85vw;
    } 

    .bread h6{
        display: none;
    }
    
    .bread li{
        margin: 0 2px 0 2px;
    }

    /*.bread ul p{*/
        /*font-size: 0.75rem;*/
        /*margin: 5px;*/
    /*}*/

}

@media screen and (max-width:519px){
    .bread{
        display: none;
        /* justify-content: center;
        width: 85vw;
        margin: 20px auto; */
    }
    .bread h6{
        display: none;
    }

    .bread li{
        margin: 0 2px 0 2px;
        border-radius: 5px;
    }

    .bread ul p{
        font-size: 0.55rem;
        margin: 5px;
    }
    
    .bread ul img{
        display: none;
    }
}