 /* ----------------------------------arrival */
.arrival .title {
    width: 75vw;
    padding: 0;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
    border-bottom: #c2a883 solid 2px;
    color: #c2a883;
}

/* img */
.img {
    width: 75vw;
    margin: 0 auto;


}

.img .img_1 {
    width: 40%;
    overflow: hidden;
    text-align: end;
}

.img p {
    text-align: center;
    margin: 10px 0 0 0;
    color: #4d5258;
}

.img .img_1 img {
    width: 96%;
}

.img .img_2 {
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.img .img_2 li {
    width: 30%;
    margin: 0 8px 0 8px;


}

.img .img_2 li:hover {
    opacity: .5;
}

.img .img_2 li img {
    width: 100%;
    object-fit: cover;
}



/*---- Mobile_RWD ----*/
.img .img_rwd {
    width: 100%;
    justify-content: center;
}

.img .img_rwd li {
    width: 100%;
    height: 50vw;
    margin: 5px; 
    /* 2019/02/15 --Rita更新 */
    /* background: #e4e4e4; */
    /* end */
}

.img .img_rwd img{  
    width: 100%;
}

.img .img_rwd p{
    border-bottom: #8c959c solid 2px;
    padding-bottom: 5px;
    /* font-size: 1rem; */
    margin: 0 auto;
    width: 80%;
}
/*---- Mobile_RWD end ----*/


/* .arrival .span {
    width: 1600px;
    height: 58px;
    margin: 0 auto;
    display: block;

}

.arrival .span a {
    float: right;
    text-decoration: none;

}

.arrival .span p {
    color: #141E30;
    margin: 20px 0;
} */

/* ------------------------------------------------RWD */

/* 和RWD沒關係，6格圖片變換尺寸大小 */
@media screen and (max-width:1120px){ 
    .img .img_2 li{
        width: 29%;
    }
}

@media screen and (min-width:769px) and (max-width:11920px) {
  
    .arrival .title {
        /*width: 50%;*/
        /* margin-top: 60px;
        margin-bottom: 20px; */
        border-bottom: #c2a883 solid 1px;
    }

    .arrival_li{
        font-size: 3.2rem;
        margin-bottom:8px;
    }

    /* .img .img_1, .img_2{ 
        display: none;
    } */

    .img{
        width: 85vw; 
        height: 100%;  
    }

    .img p{
        font-size: 0.5rem;
    }
    
    .img .img_rwd{
        display: none;
    }
}
@media screen and (max-width: 830px){
    .arrival_li{
        font-size: 2.2rem;
    }
    .arrival  .title{
        border-bottom: #c2a883 solid 1px;
        width: 75vw;
    }
}
@media (min-width:520px) and (max-width:768px){
    .arrival_li{
        font-size: 2rem;
    }

    .img_1, .img_2{
        display: none;
    }
}

@media screen and (max-width:520px){
    .img_1, .img_2{
        display: none;
    }

    .arrival .title{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .arrival_li{
        font-size: 1.5rem;
    }

    .img_rwd p{
        font-size: 0.75rem;
    }
}

@media screen and (max-width:375px){
    .img_rwd p {
        font-size: 0.75rem;/*最小12px */
    }

}
