
    /* ----------------------------------scrolltop */
.scrollTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #9fa6ad;
    padding: 20px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
    border-radius: 10px;
    z-index: 3;
}

.scrollTop:active{
    transform: scale(0.8);
} 

.scrollTop a {
    font-size: 18px;
    color: #fff;
}

@media screen and (max-width:519px){
    .scrollTop {
        padding: 10px;    
        border-radius: 5px;
    }
    
    .scrollTop a {
        font-size: 1rem;
        color: #fff;
    }
}