/* ----------------------------------通用命名 */
.transition-6s{
    transition: .6s;
}

.transition-3s{
    transition: .3s;
}
/* ----------------------------------detail */
.detail button {
    width: 100%;
    height: 6vh;
    background: #243b55;
    border: #d8d8d8;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: 1s;
    user-select: none;
    outline: none;
}
 
.detail button:hover {
    background: #637b92;
    border: #637b92;
    color: #fff;
}


.detail button p {
    margin: 0;
    letter-spacing: 10px;
    font-size: 20px;
}

.detail button img {
    width: 25px;
    height: 25px;
}

/* ----------------------------------input */

.input_use {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 10px;
    z-index: 3;
}

/* ----------------------------------detail_2 */
.detail_2{
    background: #e9e7e8;
    display: none;
}

.detail_2-1{
    width: 75vw;
    margin: 0 auto;
    /* opacity: 0;
    max-height: 0; */
    max-height: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .detail_2-1.active{
    background:#e9e7e8;
    opacity: 1;
    max-height: 730px;
    padding-top: 20px;
    padding-bottom: 20px;
} */


.detail_2-1 ul{
    width: 12.5vw;
    border-right: 1px dashed #9d9d9d;
    text-align: center;
    user-select: none;
}


.detail_2-1 ul p{
    height: 2vh;
    padding: 0 10px 0 10px;
    color: #9fa6ad; /* 內文字體顏色 */
    opacity: 1;
    /* max-height: 0; */
    transition: 0.3s;
    /* border-radius: 20px; */
}

.detail_2-1.active ul p {
    opacity: 1;
    max-height: 415px;
}

.detail_2-1 ul p:hover{
    color: #243B55; /* 內文字體顏色 */
    
}

.detail_2-1 .detail_title_mobile{
    display: none;
}

.detail_2-1 .form_shop{
    display:flex;
}

/* ------------------------------------------------RWD */
/* 封面图片 */
/*1024px:IPAD PRO 轉 768px:IPAD*/
@media (min-width:768px) and (max-width:1024px){
    .detail_2-1 ul p {
        font-size: 0.75rem;
    }
}

/*767px:IPAD 轉 520px:MOBILE*/
@media (min-width:520px) and (max-width:767px){
    .detail_2-1 {
        display:block;
        width: 85vw;
    }

    .detail_2-1 ul p {
        margin: 10px 5px 10px 5px ;
        font-size: 0.75rem;
    }

    .detail_2-1 ul {
        width: 90vw;
        display: flex;
        border: none;
        flex-wrap: wrap;
    }

    .detail_2-1 .detail_title_mobile{
        display: block;
    }

    .detail_2-1 .detail_title_pc{
        display: none;
    }

    .detail_2-1 .form_shop{
        display:block;
    }
}

@media screen and (max-width:519px){
    nav{
        z-index: 10;
    }

    .detail_2 {
        position: fixed;
        z-index: 11;
        width: 100vw;
    }

    .detail_2-1 {
        display:block;
        width: 85vw;
        padding: 0 0 65px 0;
    }

    .detail_2-1 ul p {
        margin: 8px 5px 8px 5px;
        font-size: 0.75rem;
    }

    .detail_2-1 ul {
        width: 90vw;
        display: flex;
        border: none;
        flex-wrap: wrap;
    }

    .detail_2-1 .detail_title_mobile{
        display: block;
    }

    .detail_2-1 .detail_title_pc{
        display: none;
    }

    .detail button{
        width: 15vw;
        height: 15vw;
        border-radius: 40px;
        position: fixed;
        z-index: 12;
        right: 10px;
        bottom: 10px;
    }


    .detail button p{
        display: none;
    }

    .detail_2-1 .form_shop{
        display:block;
    }
}