/* ----------------------------------choose*/
.choose {
    width: 100%;
    /* 2019/2/16 Rita 修正 */
    /* height: 70vh; */
    background: url("../img/luggage_compare_02.png") center center no-repeat;
    background-size: cover;
    margin-top: 120px;
}

.choose_b {
    width: 75vw;
    margin: 0 auto;
    padding: 150px 0 0 150px;
}

.choose_b h2 {
    margin-bottom: 20px;
    color: #c2a883;
}

.choose_b p {
    color: #fff;
    line-height: 46px;
}

/* button */
.choose button {
    width: 250px;
    height: 40px;
    text-align: center;
    margin: 45px 0 45px 45px;
    /* line-height: 36px; */
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
}
.choose button:active {
    background: #c2a883;
    color: #fff;
}

/* -------------------------------------RWD */

.choose_how{
    width: 70%;
    font-size: 2rem;
    color: #c2a883;
    margin: 0 auto;
    border-bottom: #c2a883 solid 2px;
    padding-bottom: 8px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.button {
    width: 250px;
    height: 40px;
    text-align: center;
    margin: 45px auto;
    line-height: 36px;
    border: 2px solid #c2a883;
}

.button p{
    user-select: none;
    color: #c2a883; 
    margin: 0;
}

.button p:active{
    color: #fff; 
}

@media screen and (min-width:830px){
    .choose_how, .button{
        display: none;
    }

}

@media screen and (max-width:830px){
    .choose{
        height: 30vh;
        margin-top: 0;
    }
    
    .choose_b{
        display: none;
    }
}

@media screen and (max-width:480px){
    .choose_how{
        width: 60%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:375px){
    .choose_how{
        width: 55%;
        font-size: 1rem;
    }


    .button{
        height:60px;
        line-height: 54px;
    }
}