    /* WL特區FOOTER */
    .p_12px_wil{
        font-size: 0.75rem;/*最小12px */
    }

    .p_16px_wii{
        font-size: 1rem;/* 一般16px */
    }
    
    .p_50px_wii{
        font-size: 3.2rem;/* 大标题50px */
    }
    
    li {
        list-style: none;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
    /* 回上一頁的頁面 */
    .nextStepBoxDC a:visited {
        color: white;
    }

    .flex {
        display: flex;
    }

    .relative {
        position: relative;
    }


    footer p {
        margin-bottom: 16px;
    }

    footer h6 {
        margin: 8px;
        font-size: 1rem;
    }

    .fas, .far{
        color: black;
    }

    /* 位置 */
    .positionStickyDC {
        position: sticky;
    }

    .top0DC {
        top: 0;
    }

    .zIndexDC {
        z-index: 1;
    }
/* 寬 */
.w100vwDC {
    width: 100vw;
}

.w80vwDC {
    width: 80vw;
}

.w75vwDC {
    width: 75vw;
}

.w70vwDC {
    width: 70vw;
}

.w65vwDC {
    width: 65vw;
}

.w40vwDC {
    width: 40vw;
}

.w30vwDC {
    width: 30vw;
}

.w15vwDC {
    width: 15vw;
}

.w14vwDC {
    width: 14vw;
}

.w10vwDC {
    width: 10vw;
}
.w7vwDC {
    width: 7vw;
}

.w5vwDC {
    width: 5vw;
}

.w100PercentDC {
    width: 100%;
}

.w60PercentDC {
    width: 60%;
}

.w50PercentDC {
    width: 50%;
}

.w25PercentDC {
    width: 25%;
}

.w15PercentDC {
    width: 15%;
}

.w10PercentDC {
    width: 10%;
}

/* 高 */
.h200vhDC {
    height: 100vh;
}

.h60vhDC {
    height: 60vh;
}

.h45vhDC {
    height: 45vh;
}

.h40vhDC {
    height: 40vh;
}

.h30vhDC {
    height: 30vh;
}

.h20vhDC {
    height: 20vh;
}

.h16vhDC {
    height: 16vh;
}

.h15vhDC {
    height: 15vh;
}

.h10vhDC {
    height: 10vh;
}

.h4vhDC {
    height: 4vh;
}
/* 背景圖 */
.bgImgDC {
    background: url(../images/cart_bg_02.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
}

/* 背景顏色 */
.backWhiteDC {
    background-color: white;
}

.backBlackDC {
    background-color: black;
}

.backMainDC {
    background-color: #4d5258;
}

.backGreyDC {
    background-color: #dee3e6;
}

.backGreyBlueDC {
    background-color: #65717f;
}

.backTransparentDC {
    background-color: rgba(0, 0, 0, 0);
}

/* margin */
.marginAutoDC {
    margin: auto;
}

.marginCenterDC {
    margin: 0 auto;
}

.marginTB4vhDC {
    margin: 4vh auto;
}

.marginTB1vhDC {
    margin: 1vh auto;
}

.marginTop5vhCenterDC  {
    margin: 5vh auto;
}

.marginTop1vhDC {
    margin: 1vh auto auto;
}

.marginTop5vhDC {
    margin: 5vh 0 auto;
}

.marginTop6vhDC {
    margin: 6vh 0 auto;
}

.marginTop7vhDC {
    margin: 7vh 0 auto;
}

.marginTop8vhDC {
    margin: 8vh 0 auto;
}

.marginTop9vhDC {
    margin: 9vh 0 auto;
}

.marginTop18pxDC {
    margin-top: 18px;
}

.marginBottom10vhDC {
    margin-bottom: 10vh;
}

.marginLeft1vwDC {
    margin-left: 1vw;
}

.marginRight1vwDC {
    margin-right: 1vw;
}

/* padding */
.paddingLeft3vwDC {
    padding-left: 3vw;
}

.paddingTop6vhDC {
    padding-top: 6vh;
}
/* 文字樣式 */
.fontWeight100DC {
    font-weight: 100;
}

.font1point5remDC {
    font-size: 1.5rem;
}

.font2remDC {
    font-size: 2rem;
}

.font4remDC {
    font-size: 4rem;
}

.font5remDC {
    font-size: 5rem;
}
.font40pxDC {
    font-size: 40px;
}

.pWhiteDC {
    color: white;
}

.pGreyDC {
    color: grey;
}

.pRedDC {
    color: #9e3c3c;
}

.textAlignRightDC {
    text-align: right;
}

.textAlignCenterDC {
    text-align: center;
}

.textAlignLeftDC {
    text-align: left;
}

.letterSpacing20pxDC {
    letter-spacing: 20px;
}

.lineHeight90pxDC {
    line-height: 90px;
}

.lineHeight40pxDC {
    line-height: 40px;
}
/* 列表*/
.listStyleNoneDC {
    list-style: none;
}

/* 其他樣式 */

.boxHeadDC {
    height: 4vh;
    background-color: #4d5258;
    margin: auto 2vw;
}

.borderBottomGreyDC {
    border-bottom: rgba(77, 82, 88, .1) 1px solid;
}

.fixedAreaDC {
    bottom: 40vh;
}

.flexDirectionColumnDC {
    flex-direction: column;
}

.justifyContentCenterDC {
    justify-content: center;
}

.justifyContentBetweenDC {
    justify-content: space-between;
}

.alignContentCenterDC {
    align-content: center;
}

.alignItemsCenterDC {
    align-items: center;
}

.alignItemsFlexStartDC {
    align-items: flex-start;
}

.alignItemsFlexEndDC {
    align-items: flex-end;
}

.positionFixedDC {
    position: fixed;
}

.positionStickyDC {
    position: sticky;
}

ul {
    list-style: none;
}

.checkOutButtonDC {
    width: 10vw;
    height: 4vh;
    border: white 1px solid;
    cursor: pointer;
    text-decoration: none;
}

.failButtonDC {
    width: 10vw;
    height: 4vh;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #BC8F8F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderBoxDC {
    box-sizing: border-box;
}

.notEnoughGoodsDC {
    z-index: 1;
    top: 200px;
    left: 550px;
    background-color: #BC8F8F;
}

.overFlowAutoDC {
    overflow: auto;
}

.opacityPoint5DC {
    opacity: .5;
}

.overFlowAutoDC::-webkit-scrollbar { 
    display: none; 
}

label::before {
    margin-top: 0px;
}

label::after {
    margin-top: 0px;
}

.form-group {
    display: flex;
}

.cursorDefault {
    cursor: default;
}