        /* 付款 */

        #panel1, #flip1 {
            padding: 5px;
            text-align: center;
        }
    
        #panel1 {
            display: none;
            width: 30vw;
            margin: auto;
        }
    
        #flip1 {
            border-bottom: solid 1px #c3c3c3;
        }
    
        #panel2, #flip2 {
            padding: 5px;
            text-align: center;
        }
    
        #panel2 {
            display: none;
            background-color: #cdd6db;
            width: 30vw;
            margin: auto;
        }
    
        #flip2 {
            border-bottom: solid 1px #c3c3c3;
            background-color: #cdd6db;
        }
    
        #panel3, #flip3 {
            padding: 5px;
            text-align: center;
        }
    
        #panel3 {
            display: none;
            background-color: #9aa4ae;
            width: 30vw;
            margin: auto;
        }
    
        #flip3 {
            border-bottom: solid 1px #c3c3c3;
            background-color: #9aa4ae;
        }
        .ATMTransferDC {
            background-color: #cdd6db;
        }
    
        .CashOnDeliveryDC {
            background-color: #9aa4ae;
        }

        #flip1, #flip2, #flip3 {
            cursor: pointer;
        }

        .payModule2DC {
            height: 11vh;
        }
        /* 信用卡到期 */
    
        .form-group {
        margin-bottom: 15px;
        }