        /* 流程進度圖 */
        .step-line-outbox{
            max-width: 1200px;
            height: 75px;
            margin: 45px auto;
            /*background-color: #c0c0c0;*/
        }
        .step-line-outbox h3{
            font-size: 2.6rem;
            font-weight: 400;
            padding-right: 5px;
            font-family: 'Mukta Malar', sans-serif;
        }
        .step-line-outbox p{
            font-size: 1.15rem;
            letter-spacing: 2px;
            padding-right: 15px;
        }
        .step-1{
            width: 25%;
            background-color: #3f4e65;
            -webkit-clip-path: polygon(0% 0%, 76% 0%, 90% 50%, 76% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 76% 0%, 90% 50%, 76% 100%, 0% 100%);
            align-items: center;
            justify-content: center;
            margin-left: 11%;
        }
        .step-1-inner{
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            /*background-color: #ffffff;    !* 這邊顏色之後改成淺灰藍 *!*/
            -webkit-clip-path: polygon(0% 0%, 76% 0%, 89.5% 50%, 76% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 76% 0%, 89.5% 50%, 76% 100%, 0% 100%);
            align-items: center;
            justify-content: center;
            color: rgba(194, 168, 131, .2);
        }
        .step-2, .step-3, .step-4{
            width: 25%;
            background-color: #3f4e65;
            -webkit-clip-path: polygon(77% 0%, 90% 50%, 77% 100%, 0% 100%, 13% 50%, 0% 0%);
            clip-path: polygon(77% 0%, 90% 50%, 77% 100%, 0% 100%, 13% 50%, 0% 0%);
            align-items: center;
            justify-content: center;
        }
        .step-2-inner, .step-3-inner, .step-4-inner{
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            /*background-color: #ffffff;    !* 這邊顏色之後改成淺灰藍 *!*/
            -webkit-clip-path: polygon(77% 0%, 89.5% 50%, 77% 100%, 1% 100%, 13.5% 50%, 1% 0%);
            clip-path: polygon(77% 0%, 89.5% 50%, 77% 100%, 1% 100%, 13.5% 50%, 1% 0%);
            align-items: center;
            justify-content: center;
            color: rgba(194, 168, 131, .2);
        }
        .step-1-inner.active, .step-2-inner.active, .step-3-inner.active, .step-4-inner.active{
            background-color: rgba(63, 78, 101, .5);
            color: rgba(194, 168, 131, 1);
        }
        .step-2{
            transform: translateX(-15%);
        }
        .step-3{
            transform: translateX(-30%);
        }
        .step-4{
            transform: translateX(-45%);
        }
/* -----------------------------------------------------進度條 RWD */
@media screen and (max-width:780px){
    .step-line-outbox h3{
        display: none;
    }
}
@media screen and (max-width:600px){
    .step-line-outbox p{
        width: 50%;
        padding: 0;
    }
    .step-1-inner p{
        text-align: center;
        width: 60%;
        padding-right: 5%;
    }
}
@media screen and (max-width:400px){
    .step-line-outbox p{
        width: 70%;
        padding-left: 5%;
    }
    .step-1-inner p{
        padding-left: 0;
        padding-right: 10%;
    }
}        