/* WA特區右邊字 */
.register-sub {
    color: #ffffff;
    opacity: 0.9;
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 30px;
    transform: rotate(90deg) translate(45%, -385%);
}
@media screen and (max-width:1440px){
    .register-sub {
        right: 20px;
    }
}
@media screen and (max-width:1080px){
    .register-sub {
        right: 10px;
    }
}
@media screen and (max-width:1024px){
    .register-sub {
        right: -15px;
    }
}

@media screen and (max-width:950px){
    .register-sub {
        right: -15px;
    }
}

@media screen and (max-width:900px){
    .register-sub {
        right: -15px;
    }
}

@media screen and (max-width:768px){

    .register-sub{
        transform: rotate(0deg);
        top: -40px;
        left: 0px;
        font-size: 35px;
        max-width: 90vw;
    }
}
@media screen and (max-width:520px){

    .register-sub{
        font-size: 35px;
        top: -40px;
        left: 0px;
    }
}

@media screen and (max-width:500px){

    .register-sub{
        font-size: 35px;
        width: 80vw; 
        top: -40px;
        left: 0px;
    }
}

@media screen and (max-width:450px){

    .register-sub{
        font-size: 35px;
        width: 80vw; 
        top: -40px;
        left: 0px;
    }
}

@media screen and (max-width:400px){
            
    .register-sub{
        font-size: 35px;
        top: -40px;
        left: 0px;
    }
}

@media screen and (max-width:375px){
            
    .register-sub{
        font-size: 35px;
        top: -40px;
        left: 0px;
    }
}