/* RWD */

.noneToFlexDC {
    display: none;
}

.flexToNoneDC {
    display: flex;
}

.noneToBlockDC {
    display: none;
}

.blockToNoneDC {
    display: block;
}

.noneToInlineDC {
    display: none;
}

.noToBlockDC {
    display: none;
}
.inlineToNoneDC {
    display: inline;
}

.rwd2 {
    display: flex;
}

.logoDC {
    width: 35%;
}

@media screen and (max-width: 1440px) {
    .formBoxDC {
        width: 90%;
    }

    .payModule2DC{
        height: 17vh;
    }

    form label {
        font-size: 1rem !important;
    }
    /* 配送資料 */
    .sendTimeBoxDC p {
        width: 10vw;
    }

    .fieldDC {
        width: 10vw;
    }

    /* 付款 */
    #panel1, #panel2, #panel3 {
        width: 60vw;
    }
    
    .form-group {
        width: 60vw;
        justify-content: space-around;
    }
    .payModule2DC {
        /* height: 10vh; */
    }

    .payModule4DC {
        height: 20vh;
    }
    
}
@media screen and (max-width: 1030px) {
    .rwd3 {
        height: 5px;
    }

    .payModule2DC{
        height: 13vh;
    }
}

@media screen and (max-width: 1024px) {
    .rwdStyle1DC {
        flex-direction: column;
    }

    #mainDC {
        width: 85vw;
    }

    .formBoxDC {
        width: 60vw;
    }

    form label {
        font-size: .8rem !important;
        /*padding-bottom: 10px !important;*/
    }

    .pretty {
        line-height: .75 !important;
    }

    .checkOutButtonDC {
        width: 20vw;
        height: 4vh;
    }

    .failButtonDC {
        width: 20vw;
        height: 4vh;
    }

    .rwd3 {
        height: 1vh;
    }

    .payModule1DC p{
        width: 10vw;
    }
    /* 內容checkbox */
    .receiptChoicesDC {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sendTimeDC {
        justify-content: start;
    }
    /* 下一步 */

    .totalPriceDC {
        font-size: 1.5rem;
    }

    /*最後程序的logo*/
    .logoDC {
        width: 70%;
    }

    .ATMbelly {
        width: 70vw;
    }

    .ATM {
        width: 60%;
    }
}


@media screen and (max-width: 768px) {
    
    /* 改字形大小 */
    .boxHeadDC .labelDC, .goodsModule1DC, .goodsModule2DC, .goodsModule3DC,.goodsModule4DC {
        font-size: 14px;
    }
    .goodsDC {
        margin: 2vh auto;
        height: 25vh;
        width: 70vw;
    }
    .sendTimeBoxDC {
        margin: 2vh auto;
    }

    .sendTimeDC {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto auto 40px;
    }

    .mobileSelectDC {
        border: 0;
    }
    /* 配送資料 */
    .fieldDC {
        width: 15vw;
    }

    .sendTimeBoxDC p {
        width: 20vw;
    }

    .mobile1DC {
        margin: 1vh 0 1vh;
    }

    .receiptChoicesDC {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .mobile2DC {
        justify-content: space-evenly;
        height: 4vh;
        width: 65vw;
    }
    /* 付款 */
    .payModule1DC {
        margin: 4.3vh auto 0;
    }

    .payModule2DC{
        height: 8vh;
    }
    /* 空購物車 */
    .cartEmptyDC {
        width: 30vw;
    }

    /*最後步驟*/
    .ATMbellyDC {
        width: 60vw;
        height: 55vh;
    }
}

@media screen and (max-width: 700px) {
    .payModule1DC {
        margin: 4.3vh auto 0;
    }
}

@media screen and (max-width: 698px) {
    .payModule1DC {
        margin: 4.3vh auto 0;
    }
}

@media screen and (max-width: 520px) {
        /* 肚皮 */
        .wrapper {
            width: 90vw;
        }

        #mainDC {
            width: 90vw;
        }
    
        #forHonor {
            padding-top: 50px;
        }

        .goodsModule1DC {
            width: 30vw;
        }
        
        .goodsModule2DC {
            margin: auto;
        }
    
        .goodsModule3DC {
            margin-right: 0;
        }
    
        .goodsModule4DC {
            margin-left: 0;
        }
        
        .payModule3DC {
            margin: 1vh auto 2.5vh;
        }

        .payModule1DC {
            margin: 2vh auto 0;
        }
        /* 肚子裡 */
        .sendTimeBoxDC p {
            width: 10vw;
        }

        #panel1, #panel2, #panel3 {
            width: 70vw;
        }

        .rwd3 {
            height: 2.5vh;
        }

        .viDC {
            margin-top: 5px;
            margin-left: 50px;
            width: 30vw;
        }

        .jhinDC {
            margin-top: 2px;
            margin-left: 33px;
            width: 30vw;
        }

        .payModule1DC p {
            width: 20vw;
        }

        .rwd4 {
            flex-direction: column;
        }

        #expiration-date {
            margin-top: 2vh;
        }

        .safeCodeDC {
            width: 10vw;
        }

        .sendTimeDC {
            justify-content: center;
        }

        .cartImageDC {
            width: 25vw;
        }

        .cartStep2Img {
            width: 200%;
            margin-left: -35px;
        }

        .mobile3DC {
            font-size: 14px;
            width: 50%;
        }

        .mobile4DC {
            flex-direction: column;
        }

        .figure1DC {
            margin: 0;
        }
        
        .forMobile1DC {
            margin-top: 10px;
            margin-left: 25px;
            margin-bottom: 5px;
            text-align: center;
            width: 35vw;
        }
            /* 空購物車 */
        .cartEmptyDC {
            width: 40vw;
        }
        /* 下一步 */
        .nextStepBoxDC {
            margin: 4vh 0 auto;
        }

        /* 其他 */
        .figureDC {
            width: 0;
        }
    
        .rwd1 {
            width: 50%;
            flex-direction: column;
            font-size: 14px;
        }
    
        .goodsDC {
            margin: 2vh auto;
            height: 17vh;
        }
    
        .module1DC {
            margin: 0 auto;
            text-align: left;
            line-height: 3vh;
        }
    
        .module2DC {
            width: 14vw;
            margin: 0 auto;
            text-align: left;
            line-height: 2vh;
        }
    
        .module3DC {
            display: flex;
            justify-content: center;
            text-align: left;
            margin: 1vh auto;
        }
    
        .icon1DC {
            width: 14vw;
            margin: 0 auto;
        }
    
        .rwdp1DC {
            font-size: 12px;
        }  
    
        .lastPageDC {
            width: 50%;
        }

        .ATM_title {
            font-weight: bold;
            font-size: 20px;
            line-height: 60px;
            letter-spacing: 5px;
            color: black;
        }
    /* 模組 */
    .noneToFlexDC {
        display: flex;
    }
    
    .flexToNoneDC {
        display: none;
    }
    
    .noneToBlockDC {
        display: block;
    }
    
    .blockToNoneDC {
        display: none;
    }
    
    .noneToInlineDC {
        display: inline;
    }
    
    .inlineToNoneDC {
        display: none;
    }

    .totalPriceDC {
        font-size: 1rem;
    }
    
    /* 其他 */
    .backMainDC {
        display: none;
    }

    /*最後程序的logo*/
    .logoDC {
        width: 70%;
    }

    .ATMbelly {
        width: 70vw;
    }

    .ATM {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {


    .rwd3 {
        height: 1.5vh;
    }

    .payModule1DC {
        margin: 1vh auto 0;
    }

    .payModule2DC{
        height: 6vh;
    }

    .payModule3DC {
        margin: 1vh auto 2vh;
    }

    .payModule4DC{
        height: 6vh;
    }

    .ATMbellyDC {
        height: 60vh;
    }

    .goodsModule1DC {
        margin: 5px 40px;
    }

    .goodsModule2DC {
        width: 15vw;
        margin: 0 auto 1vh;
        font-size: 12px;
        justify-content: center;
    }

    .goodsModule3DC {
        height: 5px;
        margin-top: 5px;
        margin-left: 77px;
        margin-bottom: 15px;
    }

    .goodsModule4DC {
        margin: 1vh auto 0 0;
    }

    .mobileSelectDC {
        margin: auto;
    }

    .lastPageDC {
        width: 25vw;
        margin-right: 7vw;
    }

    .checkOutButtonDC {
        width: 33vw;
    }

    .goodsModule1DC {
        margin: 5px 60px;
    }
    .sendTimeBoxDC {
        height: 9vh;
    }

    .ATMbelly {
        height: 30vh;
    }

    .ATMbellyDC {
        overflow: auto;
    }

    .ATM_title {
        letter-spacing: 0px;
    }

    .fieldDC {
        width: 50vw;
        margin-left: 18vw;
    }

    .field1DC {
        width: 23vw;
        text-align: left;
    }

    .fixRWDDC {
        margin-left: 10vw;
    }

    .failButtonDC {
        padding-left: 40px;
        width: 30vw;
    }
    
    .rwdStyle1DC {
    }

    .select {
        height: 1em;
        line-height: 1;
    }

    .step-line-outbox {
        /*height: 1px;*/
        /*margin: 28px auto;*/
    }

    .sosDC {
        width: 25vw;
    }

    .helpDC {
        width: 100%;
    }

    .info-wrap-bg{
        margin-top: 9vh;
    }
}