
/* 肚皮 */
.wrapper {
    width: 75vw;
    display: flex;
    margin: 0 auto;
}

#mainDC {
    width: 70vw;
    background-color: white;
    height: 50vh;
    margin: 0 auto;
    overflow: auto;
}

#mainDC::-webkit-scrollbar { 
    display: none; 
}

.ATMbellyDC::-webkit-scrollbar {
    display: none;
}
/* 肚子裡 */
.cartEmptyDC {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh auto auto;
    width: 20vw;
    height: 10vh;
    background-color: #BC8F8F;
    color: white;
}

.labelDC {
    color: white;
    text-align: center;
    margin-top: 1vh;
}

.goodsDC {
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: center;
}

/*.goods2DC {*/
    /*height: 15vh;*/
    /*margin: auto;*/
    /*display: flex;*/
    /*justify-content: start;*/
/*}*/

.figureDC {
    display: flex;
    justify-content: center;
    align-items: center;
}
.module1DC {
    width: 14vw;
    margin: 4vh auto;
    text-align: center;
}

.module2DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: right;
}

.module3DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: right;
}

.icon1DC {
    display: flex;
    width: 14vw;
}

.goodsModule1DC {
    width: 14vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goodsModule2DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goodsModule3DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goodsModule4DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImageDC {
    width: 4vw;
}

.forMobile1DC {
    width: 14vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* --確認訂單-- */

.cartStep2Img {
    width: 60%;
}
/* --配送資料的資料內容-- */
.formBoxDC {
    width: 30vw;
    height: 60vh;
    margin: 5vh auto;
}
.sendTimeBoxDC {
    display: flex;
    height: 6vh;
}

.sendTimeBoxDC p {
    width: 5vw;
}

.sendTimeDC {
    display: flex;
    justify-content: center;
    margin: 1vh auto auto;
}

.receiptChoicesDC {
    display: flex;
    margin: 2vh auto auto;
    justify-content: center;
}

.fieldDC {
    width: 5vw;
    text-align: left;
}

.field1DC {
    width: 5vw;
    text-align: left;
}
/* --付款內容-- */
.payModule1DC {
    display: flex;
    margin: 4.5vh auto 0;
}

.payModule1DC p{
    width: 5vw;
}

.payModule2DC {
    height: 8vh;
}

.payModule3DC {
    display: flex;
    margin: 1vh auto 0;
}

.payModule4DC {
    height: 16vh;
}

.form-group {
    width: 30vw;
    justify-content: center;
}

form label::before, form label::after {
    /*border-color: #3f4e65 !important;*/
}

#panel1, #panel2, #panel3 {
    color: grey;
}

.safeCodeDC {
    width: 5vw;
    text-align: left;
}
/* 下一步按鈕區域 */
.totalPriceDC {
    font-size: 2rem;
}

.rwdStyle1DC {
    display: flex;
}

.lastPageDC {
    width: 25%;
    margin-right: 1vw;
}

.nextStepBoxDC {
    background-color: #65717f;
    margin: 7.8vh 0 auto;
}

/*ATM*/
.ATM {
    width: 20vw;
    margin: auto;
}

.ATM_title {
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 10px;
    color: black;
}

#ATMaccount {
    font-weight: 900;
    color: red;
}

.ATMbelly {
    height: 20vh;
    width: 40vw;
    margin: auto;
    color: grey;
}

.ATMbellyDC {
    width: 40vw;
    height: 45vh;
    margin: auto;
    color: grey;
    overflow: auto;
}

.p1DC {
    font-weight: 100;
    color: white;
    font-size: 40px;
    letter-spacing: 20px;
    line-height: 90px;
}

.p2DC {
    font-weight: 100;
    color: white;
    font-size: 30px;
    line-height: 40px;
}

.p3DC {
    font-weight: 100;
    color: white;
    line-height: 40px;
}


/* 肚皮 */
.wrapper {
    width: 75vw;
    display: flex;
    margin: 0 auto;
}

#mainDC {
    width: 70vw;
    background-color: white;
    height: 50vh;
    margin: 0 auto;
    overflow: auto;
}

#mainDC::-webkit-scrollbar { 
    display: none; 
}

.ATMbellyDC::-webkit-scrollbar {
    display: none;
}
/* 肚子裡 */
.cartEmptyDC {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh auto auto;
    width: 20vw;
    height: 10vh;
    background-color: #BC8F8F;
    color: white;
}

.labelDC {
    color: white;
    text-align: center;
    margin-top: 1vh;
}

.goodsDC {
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: center;
}

/*.goods2DC {*/
    /*height: 15vh;*/
    /*margin: auto;*/
    /*display: flex;*/
    /*justify-content: start;*/
/*}*/

.figureDC {
    display: flex;
    justify-content: center;
    align-items: center;
}
.module1DC {
    width: 14vw;
    margin: 4vh auto;
    text-align: center;
}

.module2DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: right;
}

.module3DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: right;
}

.icon1DC {
    display: flex;
    width: 14vw;
}

.goodsModule1DC {
    width: 14vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goodsModule2DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goodsModule3DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goodsModule4DC {
    width: 7vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImageDC {
    width: 4vw;
}

.forMobile1DC {
    width: 14vw;
    margin: 4vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* --確認訂單-- */

.cartStep2Img {
    width: 50%;
}
/* --配送資料的資料內容-- */
.formBoxDC {
    width: 30vw;
    height: 60vh;
    margin: 5vh auto;
}
.sendTimeBoxDC {
    display: flex;
    height: 6vh;
}

.sendTimeBoxDC p {
    width: 5vw;
}

.sendTimeDC {
    display: flex;
    justify-content: center;
    margin: 1vh auto auto;
}

.receiptChoicesDC {
    display: flex;
    margin: 2vh auto auto;
    justify-content: center;
}

.fieldDC {
    width: 5vw;
    text-align: left;
}

.field1DC {
    width: 5vw;
    text-align: left;
}
/* --付款內容-- */
.payModule1DC {
    display: flex;
    margin: 4.5vh auto 0;
}

.payModule1DC p{
    width: 5vw;
}

.payModule2DC {
    height: 8vh;
}

.payModule3DC {
    display: flex;
    margin: 1vh auto 0;
}

.payModule4DC {
    height: 16vh;
}

.form-group {
    width: 30vw;
    justify-content: center;
}

form label::before, form label::after {
    /*border-color: #3f4e65 !important;*/
}

#panel1, #panel2, #panel3 {
    color: grey;
}

.safeCodeDC {
    width: 5vw;
    text-align: left;
}
/* 下一步按鈕區域 */
.totalPriceDC {
    font-size: 2rem;
}

.rwdStyle1DC {
    display: flex;
}

.lastPageDC {
    width: 25%;
    margin-right: 1vw;
}

.nextStepBoxDC {
    background-color: #65717f;
    margin: 7.8vh 0 auto;
}

/*ATM*/
.ATM {
    width: 20vw;
    margin: auto;
}

.ATM_title {
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 10px;
    color: black;
}

#ATMaccount {
    font-weight: 900;
    color: red;
}

.ATMbelly {
    height: 20vh;
    width: 40vw;
    margin: auto;
    color: grey;
}

.ATMbellyDC {
    width: 40vw;
    height: 45vh;
    margin: auto;
    color: grey;
    overflow: auto;
}

.p1DC {
    font-weight: 100;
    color: white;
    font-size: 40px;
    letter-spacing: 20px;
    line-height: 90px;
}

.p2DC {
    font-weight: 100;
    color: white;
    font-size: 30px;
    line-height: 40px;
}

.p3DC {
    font-weight: 100;
    color: white;
    line-height: 40px;
}
