/* ----------------------------------------------------- 背景底圖區 */
/* ------表格樣式------ */

.select-style {
    border: none;
    background: transparent;
    border-bottom: 1px solid #858a8f;
    outline: none;
    padding-left: 10px;
    margin-bottom: 5px;
}

/* ------登入表格 ----- */
.loginform .span-note {
    color: #cfb06d;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.loginform small {
    color: #be1b1b;
    font-size: 1rem;
}

.login-input-style {
    background-color: transparent;
    border: 1px solid #ffffffab;
    outline: none;
    width: 100%;
    border-radius: 0;
    color: #dfc982de;
    -webkit-text-fill-color: #fff !important;
    height: 40px;
    padding: 5px 10px;
}

/* ↓ 去掉chorme自動填入表單的黃色背景 ↓ */
.login-input-style:-webkit-autofill {
    -webkit-animation: autofill-fix 1s infinite;
}

@-webkit-keyframes autofill-fix {
    from {
        background-color: transparent
    }
    to {
        background-color: transparent
    }
}

.loginform label{
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
}

.btn-login {
    background: #1f7696;
    color: #ffffffcc;
    font-family: 'Noto Sans TC', sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
}

.btn-login:hover {
    background: #248bb1;
    color: #ffffff;
}

/* ------登入範圍區 ----- */

.login-bg-con {

}

.login-con {
    align-items: center;
}

.login-row {
    width: 100%;
     height: 550px;
    background: url(../images/login_bg_02.jpg) no-repeat center center;
    background-size: cover;
}

.login-row a:hover{
   text-decoration: none;
}

/* ------左邊右邊登入 ----- */
.login-formarea form{
    flex-direction: column;
    align-items: center;
}
.login-formarea a{
   color: #4d5258;
   padding: 0 25px;
}
.login-formarea form div{
    width: 100%;
}
.login-formarea {
    background: #000000b8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-picarea h2 {
    letter-spacing: 15px;
    font-size: 3.4rem;
    color: #ffffffde;
    font-weight: 500;
    margin-bottom: 10px;
}
.login-picarea h3{
    color: #ffffffde;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 10px 0;
    margin-bottom: 30px;
}
.login-picarea p{
    color: rgba(223, 201, 130, 0.87);
    letter-spacing: 2px;
    margin: 20px 0 0 0;
    font-size: 1.2rem;
}
.login-picarea a{
    text-decoration: none;
    color: #dfc982;
    padding: 5px 10px;
    border: 1px solid #dfc982;
    border-radius: 20px;
    display: block;
    text-align: center;
    width: 40%;
    margin: 8px 0;
}
.login-picarea a:hover{
    background-color: #dfc982;
    color: #ffffff;
    transition: 0.5s;
}

.login-picarea{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-link{
    justify-content: space-evenly;
}

/* ---首次登入--- */
.first-shop{
    text-decoration: none;
    border: 1px solid #243B55;
    display: block;
    line-height: 1.15;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4d5258;
   
}
.first-shop:hover{
    border: 1px solid #4a6583;
    background-color: #4a6583;
    color: #ffffff;
}

/* ---------蓋plugin------------------ */
.mfp-close-btn-in .mfp-close{
    color: #ffffff;
}
.mfp-bg{
    background: #f0f0f0;
    opacity: 0.9;
}
.mfp-container{
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

/* ----------------------------------------------------- login RWD */
@media screen and (max-width:768px){
    .login-bg-con{
        height: auto;
    }
    .con-960-px{
        width: 100%;
        height: auto;
    }
    .login-row{
        flex-direction: column;
        height: 100vh;
        width: 100%;
        padding-top: 50px;
    }
    .login-picarea, .login-formarea{
        width: 100%;
    }
    .login-picarea>div{
        text-align: center;
    }
    .login-picarea{
        height: 35vh;
    }
    .login-picarea a{
        width: 50%;
        margin: 8px auto;
    }
    .login-formarea{
        min-height: 65vh;
    }
    .mfp-container{
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (max-width:520px){
    .login-row{
        padding-top: 0;
        background: url(../images/login_bg_04.jpg) no-repeat left bottom;
        background-size: cover;
}
    .login-input-outline{
        margin-bottom: 0;
    }
    .login-link{
        margin: 10px 0 25px 0;
    }
    .login-link a{
        color: #787e84;
    }
    .login-picarea a{
        display: block;
        width: 50%;
        margin: 10px auto;
    }
    .login-picarea p{
        font-size: 0.9rem;
        margin: 0;
        display: inline;
    }
    .login-picarea h3{
        margin-bottom: 5px;
    }
    .mfp-bg{
        background: transparent;

    }
}
