/* ----------------------------------------------------- 背景底圖區 */
.member-bg {
    background: url(../images/member_bg_01.jpg) no-repeat left center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 1px;
    color: #4d5258;
    position: fixed;
    top: 0;
}
.register-bg {
    background: url(../images/register_bg_01.jpg) no-repeat left center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 1px;
    color: #4d5258;
    position: fixed;
    top: 0;
}

/* ----------------------------------------------------- 深藍色選單區 */
/*------會員頁用------*/
.member-nav {
    width: 100%;
    background-color: #243B55;
    margin-top: 80px;
    padding: 0 10px;
}
.member-nav ul li {
    padding: 0 20px;
    letter-spacing: 7px;
}
.member-nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.member-nav ul li:hover, .member-nav ul li.active{
    background: #3b668c;
}
.member-nav ul li:hover a, .member-nav ul li a.active{
    color: #ead46b;
    font-weight: 500;
}

/*------註冊頁用------*/
.register-nav {
    width: 100%;
    background-color: #243B55;
    margin-top: 80px;
    padding: 0 10px;
}
.register-nav-sub{
    color: #ffffff;
    text-align: center;
    letter-spacing: 7px;
    padding: 10px 0;
}

/* -------------------------------------------------------- 白色區塊 */
.member-row {
    width: 100%;
    background: #ffffff;
    min-height: 600px;
    overflow: hidden;
}
/* -----區域內滾動(目前沒用)----- */
.member-scroll{
    height: 100%;
    overflow-y: scroll;
    width: calc(100% + 15px);
    padding-top: 20px;
}

/* -----會員頁H2標題----- */
.member-row>h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 10px;
    font-size: 2.2rem;
    color: #243B55;
}
/* ----------------------------------------------------- 註冊頁專屬內容 */
/* ------註冊表格 ----- */
.register-form{
    margin: 10px auto 0 auto;
    padding: 5px 10px;
}
form label {
    padding-bottom: 15px;
    color: #4d5258;
    font-size: 1.25rem;
}
form input {
    padding: 8px 0;
    color: #4d5258;
    font-size: 1.3rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}
select, option{
    color: #4d5258;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}
.bd-select{
    justify-content: space-between;
    margin-top: 10px;
}
.span-note{
    color: #cfb06d;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}
small{
    color: #be1b1b;
    font-size: 1rem;
}
.btn-submit{
    background: #243B55;
    color: #ffffff;
    font-family: 'Noto Sans TC', sans-serif;
    border: none;
    padding: 10px 20px;
    margin: 30px 10px 0 10px;
    cursor: pointer;
}
.btn-submit:hover{
    background: #4a6583;
    color: #ffffff;
}
/* ----------------------------------------------------- 會員資料頁內容 */
/* -----左欄(會員資料&付款帳戶)----- */
.member-row .mb-1-6 {
    flex-direction: column;
    padding: 0 30px;

}
.member-row .mb-1-6>div {
    padding-bottom: 30px;
}
.member-row .mb-1-6 a {
    color: #4d5258;
    font-size: 20px;
    display: block;

}
.member-row .mb-1-6 a:hover,
.member-row .mb-1-6 a.active {
    color: #966371;
}
.member-row .mb-1-6 span {
    font-size: 0.75rem;
}
/* -----右欄(會員資料明細)----- */

.member-row .member-account {
    justify-content: center;
}
.m-y-10 p{
    padding: 10px 0;
    padding-left: 23px;
    color: #4d5258;
    font-size: 1.3rem;
    text-align: center;
}
.member-row .member-account ul {
    padding-bottom: 40px;
    justify-content: space-between;
}

.member-account .mb-3-5 {
    padding: 0 15px;
}
/* -----右欄(信用卡付款帳號)----- */
.member-payment {
    border: 1px solid #4d5258;
    justify-content: space-between;
    margin-bottom: 25px;
}

.payment-card {
    width: 50px;
    margin: 10px 40px;
}

.payment-card img {
    width: 100%;
}

.payment-detial {
    margin: 10px 40px;
}

.payment-detial p {
    padding: 7px 0;
    font-size: 1.3rem;
    color: #4d5258;
}

.payment-edit-bg {
    width: 35px;
    background-color: #243B55;
}

.payment-edit-bg {
    justify-content: center;
    align-items: center;
}

.payment-edit>a {
    color: #ffffff;
}


/* ----------------------------------------------------- 歷史訂單頁內容 */
/* -----訂單資訊----- */
.member-order {
    border: 1px solid #4d5258;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px 20px;
}

/* -----訂單資訊(編號 日期處)----- */
.order-number {
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid #4d5258;
}

.order-number li {
    padding: 0 15px;
}

.order-number a {
    color: #4d5258;
}

/* -----訂單資訊(內容品項處)----- */
.order-item-detial{
    align-items: center;
    flex: 1;
}
.order-item {
    align-items: center;
}

.order-item figure {
    width: 120px;
    margin: 10px 20px;
}

.order-item figure img {
    width: 100%;
    object-fit: cover;
}

.order-name {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.order-type {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
}

.order-item-price {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.5rem;
}

/* ----------------------------------------------------- 願望清單頁內容 */
/* -----願望清單(空)----- */

.wishlist-nothing{
    justify-content: center;
    /*text-align: center;*/
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}
.wishlist-nothing h2{
    font-size: 1.8rem;
    padding-top: 35px;
    padding-bottom: 15px;
    color: #b45e73;
}
.wishlist-nothing a{
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.5rem;
    background: #b45e73;
    padding: 10px 30px;
    border-radius: 10px;
}
.wishlist-nothing-pic{
    margin-top: 50px;
    display: flex;
}
.wishlist-nothing-pic figure{
    margin: 0 8px;
}
.wishlist-nothing-pic figure p{
    text-align: center;
    font-size: 1.3rem;
}
.wishlist-nothing-pic figure li{
   text-align: center;
    font-size: 1.15rem;
    color: #4d5258;
}
.wishlist-nothing-pic figure img{
    width: 100%;
}


/* -----願望清單----- */
.member-wishlist {
    border-bottom: 1px solid #4d5258;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.wishlist-item {
    align-items: center;
    padding: 0 20px;
}

.wishlist-item figure {
    width: 120px;
    margin: 10px 0;
}

.wishlist-item figure img {
    width: 100%;
    object-fit: cover;
}
.wishlist-item-detial {
    align-items: center;
}
.wishlist-sizeNcolor {
    align-items: center;
}
.wishlist-brand {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
.wishlist-type{
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
}
.wishlist-price{
    margin: 5px 0;
}
.wishlist-price span{
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
}
.wishlist-size,
.wishlist-color,
.wishlist-count {
    font-family: 'Noto Sans TC', sans-serif;
    border: none;
    min-width: 60px;
    outline: none;
}

.wishlist-move {
    width: 150px;
    background: #243B55;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}

.wishlist-move a {
    color: #ffffff;
    display: block;
}

.wishlist-move:hover {
    background: #4a6583;
}

.wishlist-dele {
    width: 150px;
    border: 1px solid #4d5258;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}

.wishlist-dele a {
    color: #4d5258;
    display: block;
}

.wishlist-dele:hover {
    background: #bdc8d6;
}

/* ----------------------------------------------------- 右邊垂直的MEMBER CENTER */
.register-sub {
    color: #ffffff;
    opacity: 0.9;
    font-size: 50px;
    position: absolute;
    top: 0;
    right: -60px;
    transform: rotate(90deg) translate(45%, -385%);
}

.member-sub {
    color: #ffffff;
    opacity: 0.9;
    font-size: 50px;
    position: absolute;
    top: 0;
    right: -60px;
    transform: rotate(90deg) translate(45%, -340%);
}
