/* ---------------------------------Rita tamplate */
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;	
}
.nonstyle-a{
    text-decoration: none;
}
.nonstyle-ul{
    list-style: none;
}
.justify-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}

.mairgin-0auto{
    margin: 0 auto;
}
.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
}
.nav_p-x-25{
    padding: 0 30px;
}
.p-r-20{
    padding-right: 20px;
}
.p-l-20{
    padding-left: 20px;
}
.p-t-32{
    padding-top: 32px;
}
.border-right{
    border-right: 1px solid #243B55;
}
.maintext-color{
    color: #243B55;
}
.maintext-color:hover{
    color: #cfb06d;
}
.white-a{
    color: #eee;
}
.drop-bg{
    background: rgba(117, 117, 117,.7) ;
}
.text-center{
    text-align: center;
}
.border-box{
    box-sizing: border-box;
}
.pointer{
    cursor: pointer; 
}
/* -------------------------------------Rita nav */
    nav{
        width: 100%;
        background: rgba(255,255,255,.9);
        position: sticky;
        top:0;
        z-index: 99;
    }
    .nav_container{
        width: 88vw;
        height: 100px;
        
    }
    .flex-right{
        align-items: center;
        width: 80%;
        flex: 1;
    }
    .nav_left img{
        width: 150px;
        height: 100px;
    }
    .nav_mid{
        width: 100%;
        padding: 0;
    }
    .nav_right{
        text-align: right;
        padding: 0;
    }
    .nav_right_icon{
        width: 45px;
        height: 22px;
        position: relative;
        z-index: 99;
    }
    .nav_right_icon img{
        width: 55%;
    }
    /* ----------------------nav 下拉式選單 商品 */
    .menu_bg{
        background: rgba(129, 142, 155,0.9);
    }
    .product_menuframe_R{        
        width: 100%;
    }
    .product_menu_R{
         width: 60%;
     }
    .product_menu_R a:hover, .member_list_R a:hover{
        color: #cfb06d;
    }
    .product_list_R{
        flex-grow: 1;
        padding: 16px;
        line-height: 1.7rem;
    }

    .product_new{
        padding-top: 32px;
    }
    .product_bar{
        height: 100px;
    }

    .brand-column{
        padding: 0 10px;
    }
    .brand-left{
        margin-left: 17px;
    }
    /*-------------------- nav 下拉式選單 會員 */
    .member_menuframe_R{        
        width: 100%;
        height: 64px;
        z-index: 1;
    }
    .member_menu_R{
        padding-top: 16px;
        line-height: 1.7rem;
    }
    .member_list_R{
        width: 40vw;
    }
    .member_list_R ul{
        justify-content: space-around;
    }
    .member_bar{
        height: 100px;
    }
    /*---------------------nav搜尋bar  */
    .search{
        cursor: pointer;
    }
    .search_slide{
        width: 0;
        height: 35px;
        border-radius: 25px;
        background: rgb(184, 199, 216);
        right: 200px;
        top: 32%;
    }

    /*---------------------手機板 WEB版購物車&比較泡泡  */
    .cart-count-circle{
        position: absolute;
        top: 15px;
        left: 18px;
        background: #d68499;
        color: #ffffff;
        height: 20px;
        border-radius: 12px;
        padding: 0 5px;
    }
    .cart-count-circle span{
        line-height: 19px;
    }
    .compare-pill{
        line-height:19px;
    }
    .cart-count-circle-web{
        position: absolute;
        top: 10px;
        left: 18px;
        background: #d68499;
        color: #ffffff;
        height: 20px;
        border-radius: 12px;
        padding: 0 5px;
    }
    .cart-count-circle-web span{
        line-height: 19px;
    }

    /* ------------------------rwd display */
    .dis-519, #click_menu {
        display: none ;
    }
    /* -------------------nav RWD */
    @media screen and (max-width:1120px){
        .nav_p-x-25{
            padding:  0 18px;
        }
    }
    @media screen and (max-width:975px){
        .nav_p-x-25{
            padding:  0 10px;
        }
        .nav_mid{
            width: 500px;
            display: flex;
            justify-content: flex-end;
        }
        .nav_right_icon{
            width: 40px;
        }
        .nav_right_icon img{
            width: 50%;
        }
    }
    @media screen and (max-width:830px){
        body{
            overflow-x: hidden;
        }

        .nav_mid{
            /* opacity: 0; */
            display: none;
        }
        .nav_right{
            display: none;
        }
        .nav_menu{
            display: block;
            cursor: pointer; 
        }
        .nav_menu img{
            width: 30px;
            height: 30px;
        }
        .nav_left img{
            width: 30px;
            height: auto;
        }
        /* -----------------menu */
        #click_menu{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100vh;
            background: url("../images/mobile-menu-bg.jpg") no-repeat top center;
            background-size: cover;
            transition: 0.5s;
        }
        .menu_page {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            text-align: right;
        }

        .menu_page img {
            width: 28px;
        }

        .close_icon {
            padding: 35px;
            justify-content: space-between;
            align-items: center;
            background-color: #000000;
        }

        .menu_select {
            flex-direction: column;
        }

        .mid_select {
            justify-content: flex-end;
            font-size: 1.5rem;
            background: #000000;
            padding: 20px 50px;
        }
        .mid_select a{
            border: 1px solid #ffffff;
            padding: 2px 12px;
            display: inline-block;
        }
        .mid_select span{
            font-size: 1rem;
            color: #96a1ad;
        }

        .last_select {
            margin: 15px 50px;
            font-size: 1.3rem;
            line-height: 2.8;
        }

        .last_select a {
            display: inline-block;
            text-decoration: none;
            color: #ffffffcc;
            border-bottom:1px solid #ffffff40;
            letter-spacing: 4px;
            font-weight: 300;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        #close_menu{
            color: #ffffff;
            font-size: 1.8rem;
            cursor: pointer; 
        }
        .disn-830{
            display: none;
        }
        .nav_mid_mobile{
            display: block;
            margin: 0 auto;
        }
        .nav_mid_mobile img{
            width: 150px;
        }
        .pad-show{
            display: block;
        }
        .pad-hide{
            display: none;
        }
    }
        @media screen and (max-width:519px){
            nav{
                background: #1a1b1df0;
                position: fixed;
                top: 0;
                z-index: 10;
            }
            .nav_mid_mobile img{
                width: 135px;
            }
            .nav_left img{
                width: 27px;
                height: auto;
            }
            .nav_container{
                height: 60px;
            }
            .dis-519{
                display: block;
            }
            .disn-519{
                display: none;
            }
            .close_icon {
                padding: 10px 22px;
            }
            .pad-show{
                display: none;
            }
            .mobile-show{
                display: block;
            }
            .mid_select {
                font-size: 1.3rem;
            }
        }
