/* ---------------------------------Rita tamplate */

.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;
}
.nonstyle-a{
    text-decoration: none;
}
.nonstyle-ul{
    list-style: none;
}
.justify-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}

.mairgin-0auto{
    margin: 0 auto;
}
.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
}
.nav_p-x-25{
    padding: 0 30px;
}
.p-r-20{
    padding-right: 20px;
}
.p-l-20{
    padding-left: 20px;
}
.p-t-32{
    padding-top: 32px;
}
.border-right{
    border-right: 1px solid #243B55;
}
.maintext-color{
    color: #243B55;
}
.white-a{
    color: #eee;
}
.drop-bg{
    background: rgba(117, 117, 117,.7) ;
}
.text-center{
    text-align: center;
}
.border-box{
    box-sizing: border-box;
}
/* -------------------------------------Rita nav */
nav{
    width: 100%;
    background: rgba(255,255,255,.8);
    position: sticky;
    top:0;
    z-index: 99;
}
.nav_container{
    width: 88vw;
    height: 100px;

}
.flex-right{
    align-items: center;
    width: 80%;
    flex: 1;
}
.nav_left img{
    width: 150px;
    height: 100px;
}
.nav_mid{
    width: 100%;
    padding: 0;
}
.nav_right{
    text-align: right;
    padding: 0;
}
.nav_right_icon{
    width: 40px;
    height: 22px;
}
.nav_right_icon img{
    width: 50%;
}
.menu_bg{
    background: rgb(129, 142, 155,.9);
}
.product_menuframe_R{
    width: 100%;
}
.product_menu_R{
    width: 60%;
}
.product_list_R{
    flex-grow: 1;
    padding: 16px;
    line-height: 1.7rem;
}

.product_new{
    padding-top: 32px;
}
.product_bar{
    height: 100px;
}
/*-------------------- nav 下拉式選單 會員 */
.member_menuframe_R{
    width: 100%;
    height: 64px;
    z-index: 1;
}
.member_menu_R{
    padding-top: 16px;
    line-height: 1.7rem;
}
.member_list_R{
    width: 40vw;
}
.member_list_R ul{
    justify-content: space-around;
}
.member_bar{
    height: 100px;
}
/* -------------------nav RWD */
@media screen and (max-width:1120px){
    .nav_p-x-25{
        padding:  0 18px;
    }
}
@media screen and (max-width:975px){
    .nav_p-x-25{
        padding:  0 10px;
    }
    .nav_mid{
        width: 500px;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (max-width:830px){
    .nav_mid{
        /* opacity: 0; */
        display: none;
    }
    .nav_right{
        display: none;
    }
    .nav_menu{
        display: block;
    }
    .nav_menu img{
        width: 30px;
        height: 30px;
    }

}

/* ---------navbar_mobile>831px 消失---------- */
@media screen and (min-width: 768px){
    .nav_mobile{
        display: none;
    }
}